{
  "extends": [ "airbnb", "prettier/react", "eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types":0
  },
  "globals": {
    "window": true,
    "fetch": true
  }
}
